# -*- coding: utf-8 -*-
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: © 2021 Massachusetts Institute of Technology.
# SPDX-FileCopyrightText: © 2021 Lee McCuller <mcculler@caltech.edu>
# NOTICE: authors should document their contributions in concisely in NOTICE
# with details inline in source files, comments, and docstrings.
MANIFEST
venv/
*.egg-info/
build/
dist/
site/

.tox/

TAGS
.cache
core.*

debian

*.syncthing.*
*sync-conflict*
*.pyc
*.pyo
*.swp
.*.swp
.#*

